APP_ENV=local
BASE_URL=http://localhost:8080
LOCAL_BASE_URL=http://localhost:8080
DEV_BASE_URL=http://localhost:8080
TEST_BASE_URL=http://localhost:8080
STAGING_BASE_URL=http://localhost:8080
ADMIN_USERNAME=manh1709
STAFF_USERNAME=tmq0102
CUSTOMER_USERNAME=abcVietNam
DEFAULT_PASSWORD=12345678
REQUEST_TIMEOUT=30000
EXPECT_TIMEOUT=10000
ACTION_TIMEOUT=15000
NAVIGATION_TIMEOUT=30000
UI_RETRIES=0
API_RETRIES=0
E2E_RETRIES=0
REGRESSION_RETRIES=0
AUTH_STATE_DIR=playwright/.auth
SKIP_HEALTHCHECK=true
DB_JDBC_URL=jdbc:mysql://localhost:3306/estate
DB_USERNAME=root
DB_PASSWORD=123456
DB_POOL_LIMIT=5
